!!! 5
html
	head
		title ..:: Sector : Node ::..
		link(type="text/css", rel="stylesheet", href="Css/main.css")
		script(type="text/javascript", src="/socket.io/socket.io.js")
	body
		#login-container
			.window
				h1 ..:: Sector : Node ::..
			.window User
			.window Connected Players