!!! 5
html
	head
		title ..:: Sector : Node ::..
		link(type="text/css", rel="stylesheet", href="Css/main.css")
		
		script(type="text/javascript", src="/socket.io/socket.io.js")
		
		script(type="text/javascript", src="/Script/Libs/Utils.js")
		
		script(type="text/javascript", src="/Script/Network/connector.js")
		
		script(type="text/javascript", src="/Script/Global.js")

		script(data-main="/Script/Client.js", src="/Script/Libs/require.js")
	body
		h1 ..:: Sector : Node ::..
		div#FPS
		div#PING
	canvas#canvas(width=1600, height=800)