html {
    background-color: black;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -webkit-transition: background-color .5s;
    transition: background-color .5s;
}
