html {
    background: #2a2a2a;
    color: #DDD;
    text-align: center;
    font: 1.1em sans-serif;
}

#canvas {
    border: solid 1px #DDD;
}

h1 {
    margin-bottom: 10px;
}

#server-msg {
    margin-bottom: 10px;
}

#server {
    display: inline-block;
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 2px white, 0 -1px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 0 2px white, 0 -1px 0 rgba(0, 0, 0, .4);
    -moz-transition: background-color linear .3s;
    -o-transition: background-color linear .3s;
    -webkit-transition: background-color linear .3s;
    transition: background-color linear .3s;
}

.status {
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 2px white, 0 -1px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 0 2px white, 0 -1px 0 rgba(0, 0, 0, .4);
    -moz-transition: background-color linear .3s;
    -o-transition: background-color linear .3s;
    -webkit-transition: background-color linear .3s;
    transition: background-color linear .3s;
}

.offline {
    background-color: red;
}

.online {
    background-color: green;
}

.hidden {
    display: none;
}

.window {
    margin: auto;
    padding-top: 17px;
    padding-bottom: 8px;
    width: 400px;
    border-radius: 3px;
    background: #999;
    background: -moz-linear-gradient(#ccc, #999);
    background: -ms-linear-gradient(#ccc, #999);
    background: -o-linear-gradient(#ccc, #999);
    background: -webkit-linear-gradient(#ccc, #999);
    background: linear-gradient(#ccc, #999);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .7) inset, 0 -1px 0 hsl(210, 0%, 32%) inset, 0 -2px 0 hsl(210, 0%, 38%) inset, 0 -3px 0 hsl(210, 0%, 44%) inset, 0 -4px 0 hsl(210, 0%, 50%) inset, 0 -5px 0 hsl(210, 0%, 60%) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .7) inset, 0 -1px 0 hsl(210, 0%, 32%) inset, 0 -2px 0 hsl(210, 0%, 38%) inset, 0 -3px 0 hsl(210, 0%, 44%) inset, 0 -4px 0 hsl(210, 0%, 50%) inset, 0 -5px 0 hsl(210, 0%, 60%) inset;
    color: rgba(0, 0, 0, .7);
    text-align: center;
    text-decoration: none;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
}

#login-container {
    margin-top: 250px;
    -moz-transition: margin ease .5s;
    -o-transition: margin ease .5s;
    -webkit-transition: margin ease .5s;
    transition: margin ease .5s;
}

#login-title {
    border-bottom: solid 1px gray;
    border-radius: 3px 3px 0 0;
}

#loading {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

    #loading progress {
        margin: auto;
        width: 300px;
    }

.text-field {
    margin-right: 0;
    padding-bottom: 7px;
    border: none;
    border-radius: 3px 0 0 3px;
    background: inherit;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3) inset, 0 3px 5px rgba(0, 0, 0, .2) inset, 0 5px 10px rgba(0, 0, 0, .2) inset, 0 20px 20px rgba(0, 0, 0, .15) inset, 0 1px 0 rgba(255, 255, 255, .7);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3) inset, 0 3px 5px rgba(0, 0, 0, .2) inset, 0 5px 10px rgba(0, 0, 0, .2) inset, 0 20px 20px rgba(0, 0, 0, .15) inset, 0 1px 0 rgba(255, 255, 255, .7);
    color: rgba(0, 0, 0, .7);
    text-align: inherit;
    text-decoration: none;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    font-size: medium;
}

.button {
    display: inline;
    margin-left: 0;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    width: 30px;
    height: 30px;
    border-radius: 0 3px 3px 0;
    background: #999;
    background: -moz-linear-gradient(#ccc, #999);
    background: -ms-linear-gradient(#ccc, #999);
    background: -o-linear-gradient(#ccc, #999);
    background: -webkit-linear-gradient(#ccc, #999);
    background: inherit;
    background: linear-gradient(#ccc, #999);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .7) inset, 0 -1px 0 hsl(210, 0%, 32%) inset, 0 -2px 0 hsl(210, 0%, 38%) inset, 0 -3px 0 hsl(210, 0%, 44%) inset, 0 -4px 0 hsl(210, 0%, 50%) inset, 0 -5px 0 hsl(210, 0%, 60%) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15), 0 1px 0 rgba(255, 255, 255, .7) inset, 0 -1px 0 hsl(210, 0%, 32%) inset, 0 -2px 0 hsl(210, 0%, 38%) inset, 0 -3px 0 hsl(210, 0%, 44%) inset, 0 -4px 0 hsl(210, 0%, 50%) inset, 0 -5px 0 hsl(210, 0%, 60%) inset;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    -webkit-transition: color .3s;
    transition: color .3s;
}

    .button:hover,
    .button:focus {
        color: rgba(0, 128, 255, .7);
        cursor: pointer;
    }

#connected-users {
    position: absolute;
    top: 20px;
    left: 20px;
}

#local-user-menu {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.name {
    display: inline-block;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    -webkit-transition: color .3s;
    transition: color .3s;
}

.user:hover .name,
.user:focus .name {
    color: rgba(0, 128, 255, .7);
    cursor: pointer;
}
